<p>hello, <%= Session[:members][Session[:member_id]] %></p>

<p>would you like to set up a new account?</p>

<form action='new_account' method='post'>

  <button type='submit'>new account</button>

</form>
